<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Engine</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
<header>
    <h1>My Team</h1>
</header>

<div class="conatiner">
    <div class="row">
        <div class="col card">
            <div class="card" id="employee1">
                <h4>Name</h4>
                <p>ID: </p>
                <p>Email: </p>
                <p>Class Specific</p>
            </div>
        </div>

        <div class="col card">
            <div class="card" id="employee2">
                <h4>Name</h4>
                <p>ID: </p>
                <p>Email: </p>
                <p>Class Specific</p>
            </div>
        </div>
    
        <div class="col card">
            <div class="card" id="employee3">
                <h4>Name</h4>
                <p>ID: </p>
                <p>Email: </p>
                <p>Class Specific</p>
            </div>
        </div>

        <div class="col card">
            <div class= "card" id="employee4">
                <h4>Name</h4>
                <p>ID: </p>
                <p>Email: </p>
                <p>Class Specific</p>
            </div>
        </div>

        <div class="col card">
            <div class= "card" id="employee5">
                <h4>Name</h4>
                <p>ID: </p>
                <p>Email: </p>
                <p>Class Specific</p>
            </div>
        </div>
        
    </div>
</div>

</body>
</html>